<div *ngIf="showSettings" style="width: 80%; height: 80%;">
    <table>
        <caption>Einstellungen</caption>
        <tr>
            <th scope="col">Einstellung</th>
            <th scope="col">Wert</th>
        </tr>
        <tr *ngFor="let setting of settings">
            <td>{{setting.key}}</td>
            <td><textarea rows=1 cols="50" class="textarea_items" (change)="onChangeItem($event)"
                style="width: 350px; height: 25px Arial, sans-serif;"
                    name="{{setting.key}}">{{setting.value}}</textarea></td>
        </tr>
    </table>
    <button (click)="onSaveSettings($event)" style="cursor: pointer">Einstellungen Speichern</button>
    <div class="versionPosition">Version :{{version}} </div>
</div>
