.chartSideNav {
    width: 10rem;
    border-right: 1px solid white;
    margin-right: 0.4rem;
    padding-right: 0.4rem;
}

.chartSideNavActive {
    font-style: italic;
    background-color: #f4f4f4;
    color: black;
}

.chartContent {
    padding-left: 0.2rem;
    width: 100%;
}

#chartContainer {
    display: flex;
    align-items: stretch;
}

.chartSideNavButton.mat-card {
    padding: 0.4rem;
    cursor: pointer;
}

.chartSideNavButton.mat-card-content {
    margin-bottom: 0.4rem;
}
