<svg:g class="environments-button"  transform="translate(216 24)">
  <title>Umgebungen</title>
  <circle class="Oval-2-Copy-2" cx="48" cy="48" r="48" fill="#F06" opacity=".6"/>							
  <!-- Umgebungen Icon -->
  <g transform="translate(24,24)">
    <g>
      <rect x="9.99" y="6.342" width="10.897" height="10.897" style="fill:none;stroke:#fff;stroke-width:3.12px;"/>
      <rect x="27.113" y="6.342" width="10.897" height="10.897" style="fill:none;stroke:#fff;stroke-width:3.12px;"/>
      <rect x="27.113" y="23.463" width="10.897" height="10.897" style="fill:none;stroke:#fff;stroke-width:3.12px;"/>
      <rect x="9.99" y="23.463" width="10.897" height="10.897" style="fill:none;stroke:#fff;stroke-width:3.12px;"/>
    </g>
    <g>
        <circle cx="23.999" cy="40.674" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
        <circle cx="30.884" cy="40.674" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
        <circle cx="17.116" cy="40.674" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
    </g>
  </g>
  <!-- / Umgebungen Icon -->						
</svg:g>