/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/assets/fonts/open-sans-v16-latin-regular.woff2") format("woff2"), url("/assets/fonts/open-sans-v16-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Open Sans', sans-serif;
}