<svg:g class="east-menu" *ngIf="isOpen" transform="translate(654 229)">
  <g class="writing-button" transform="translate(24 120)" (click)="openWarning()"
    [ngClass]="{'disabled': !warningActive }">
    <title>Warnungen</title>
    <circle class="Oval-2-Copy-11" cx="48" cy="48" r="48" fill="#00F7FF" opacity=".6"
      [ngClass]="{'disabledCircle': !warningActive }" />
    <!-- Warnung Icon -->
    <g transform="translate(24 24)">
      <use xlink:href="assets/symbol-defs.svg#icon-warnings"></use>
    </g>
    <!-- / Warnung Icon -->
  </g>
  <g class="news-button" (click)="openNews()" [ngClass]="{'disabled': !newsActive }">
    <title>Neuigkeiten</title>
    <circle class="Oval-2-Copy-13" cx="48" cy="48" r="48" fill="#00F7FF" opacity=".6"
      [ngClass]="{'disabledCircle': !newsActive }" />
    <!-- Neuigkeiten Icon -->
    <g transform="translate(24 24)">
      <use xlink:href="assets/symbol-defs.svg#icon-news"></use>
    </g>
    <!-- / Neuigkeiten Icon -->
  </g>
  <g class="stats-button" transform="translate(0 240)" (click)="openStatistic()"
    [ngClass]="{'disabled': !statisticActive }">
    <title>Statistiken</title>statisticActive
    <circle class="Oval-2-Copy-12" cx="48" cy="48" r="48" fill="#00F7FF" opacity=".6"
      [ngClass]="{'disabledCircle': !statisticActive }" />
    <!-- Statistiken Icon -->
    <g transform="translate(24 24)">
      <use xlink:href="assets/symbol-defs.svg#icon-stats"></use>
    </g>
    <!-- / Statistiken Icon -->
  </g>
</svg:g>
