<form [formGroup]='loginForm'>
    <div>
        <mat-form-field>
            <mat-label for="password">Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlField="password" #input ngModle required />
            <button mat-icon-button matSuffix class="mat-icon-button mat-button-base" (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <button type="button" mat-raised-button color="primary" (click)="checkPasswordBackend(input.value)"
        [disabled]="!input.value">Login</button>

    <button type="button" mat-raised-button (click)="cancel()" class="cancle">Abbrechen</button>
    