<!--<h2 mat-dialog-title>
    <div class="dialog-title">
        <span class="batch-name">{{batchName}}</span>:<span class="column-name">{{colName}}</span>
    </div>
</h2>
-->
<mat-dialog-content [formGroup]="form">
    <table class="dialog-table">
        <thead>
            <th><div class="dialog-title">
                <span class="batch-name">{{batchName}}</span>:<span class="column-name">{{colName}}</span>
            </div></th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <mat-form-field *ngFor="let field of fields" class="black-form-field-label">
                        <input matInput placeholder="{{field}}" formControlName="{{field}}">
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>

</mat-dialog-content>

<mat-dialog-actions style="justify-content: space-between;">
    <button class="mat-raised-button" (click)="close()">Schließen</button>
    <button class="mat-raised-button mat-primary" (click)="save()" style="float: right;">Speichern</button>
</mat-dialog-actions>