<svg:g class="platforms-button" transform="translate(24 217)">
  <title>Plattformen</title>
  <circle class="Oval-2-Copy" cx="48" cy="48" r="48" fill="#F06" opacity=".6" />
  <!-- User Icon -->
  <g transform="translate(24,24)">
    <g>
      <circle cx="23.999" cy="41.122" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;" />
      <circle cx="30.884" cy="41.122" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;" />
      <circle cx="17.116" cy="41.122" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;" />
    </g>
    <g>
      <path
        d="M37.31,35.841l0,-3.327c0,-3.651 -3.004,-6.655 -6.655,-6.655l-13.31,0c-3.651,0 -6.655,3.004 -6.655,6.655l0,3.327"
        style="fill:none;stroke:#fff;stroke-width:3.33px;" />
      <circle cx="24" cy="12.55" r="6.655" style="fill:none;stroke:#fff;stroke-width:3.33px;" />
    </g>
  </g>
  <!-- / User Icon -->
</svg:g>
