<div id="createChartContainer" *ngIf="showCreateChartContainer">
    <h3>Neues Chart erstellen</h3>
    <form [formGroup]="newChartForm" (ngSubmit)="submit()" class="newChartForm" #form="ngForm">

        <mat-form-field class="field-input-full-width" matTooltip="Gruppen verwenden immer die selbe Datenbasis"
            matTooltipPosition="right">
            <input matInput placeholder="Gruppe" aria-label="Gruppe" [matAutocomplete]="auto" formControlName="group">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
                    <span>{{group}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field matTooltip="Name zur Auswahl im Menü" class="field-input-full-width" matTooltipPosition="right">
            <mat-label for="name">Name</mat-label>
            <input matInput formControlName="name" id="name" type="text" [errorStateMatcher]="matcher">
            <mat-error *ngIf="newChartForm.get('name').hasError('required')">
                Name wird benötigt
            </mat-error>
            <mat-error *ngIf="newChartForm.get('name').hasError('minlength')">
                Der Name benötigt mindestens 3 Zeichen.
            </mat-error>
        </mat-form-field>

        <mat-form-field matTooltip="Beschreibung für das neue Chart" class="field-input-full-width"
            matTooltipPosition="right">
            <mat-label for="description">Beschreibung</mat-label>
            <input matInput formControlName="description" id="description" type="text">
        </mat-form-field>

        <div>
            <app-drag-and-drop [fileUploadText]="fileUploadText"
                matTooltip="Python Script zur Analyse hineinziehen oder klicken" (fileEmitter)="onFileAdded($event)"
                matTooltipPosition="right">
            </app-drag-and-drop>
        </div>
        <mat-divider class="divider"></mat-divider>
        <button mat-flat-button color="primary" type="submit" class="submit-button-right">
            Chart anlegen
        </button>

    </form>
</div>
