<div id="createChartContainer" *ngIf="showCreateChartContainer">
    <h3>Neues Chart erstellen</h3>
    <form [formGroup]="myForm" (ngSubmit)="submit()" class="newChartForm">

        <mat-form-field class="field-input-full-width" matTooltip="Gruppen verwenden immer die selbe Datenbasis">
            <input matInput placeholder="Gruppe" aria-label="Gruppe" [matAutocomplete]="auto" formControlName="group">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
                    <span>{{group}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field matTooltip="Name zur Auswahl im Menü" class="field-input-full-width">
            <mat-label for="name">Name</mat-label>
            <input matInput formControlName="name" id="name" type="text" [errorStateMatcher]="matcher">
            <mat-error *ngIf="myForm.get('name').hasError('required')">
                Name wird benötigt
            </mat-error>
            <mat-error *ngIf="myForm.get('name').hasError('minlength')">
                Der Name benötigt mindestens 3 Zeichen.
            </mat-error>
        </mat-form-field>

        <mat-form-field matTooltip="Beschreibung für das neue Chart" class="field-input-full-width">
            <mat-label for="description">Beschreibung</mat-label>
            <input matInput formControlName="description" id="description" type="text">
        </mat-form-field>

        <div>
            <input style="display: none" type="file" (change)="onFileChange($event)" #file formControlName="file" />
            <button mat-flat-button class="upload-button" color="primary" (click)="file.click()"
                matTooltip="Python Skript zur Analyse"
                [ngClass]="{'buttonWarn': myForm.get('file').touched && myForm.get('file').invalid}">
                Datei hochladen
            </button>
            <mat-error *ngIf="myForm.get('file').touched && myForm.get('file').invalid">
                Script wird benötigt.
            </mat-error>
            {{scriptName}}
        </div>
        <button mat-flat-button color="primary" type="submit" class="submit-button-right">
            Chart anlegen
        </button>
    </form>
</div>
