.chart-card {
  max-width: 400px;
  cursor: pointer;
  margin-bottom: 10px;
}

.add {
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width>* {
  width: 100%;
}
