div#details-box {
    position: absolute;
    width: 260px;
    height: 600px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    left: 200px;
    top: 100px;
}

div > header {
    top: 0px;
    position: relative;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    color: #000;
    margin-bottom: 10px;
}

div > header .close {
    background: none;
    border: none;
    cursor: pointer;
}

table#config-table{
    margin: auto;
    width: 100%;
}

table#config-table td, table#config-table th{
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}