div#details-box {
    position: absolute;
    width: 260px;
    height: 600px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #fff;
    left: 100px;
    top: 100px;
}

div > header {
    top: 0px;
    position: relative;
    height: 40px;
    background-color: #fff;
    color: #000;
}
  
table#config-table{
    margin: auto;
    width: 100%;
}

table#config-table td, table#config-table th{
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.6);
}