<svg:g class="summary-button" transform="translate(216 408)">
  <title>Gesamtübersicht</title>
  <circle class="Oval-2-Copy-3" cx="48" cy="48" r="48" fill="#F06" opacity=".6"/>
  <g transform="translate(24,24)">
      <g>
        <circle cx="23.999" cy="40.77" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
        <circle cx="30.884" cy="40.77" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
        <circle cx="17.116" cy="40.77" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
        <path d="M7.209,22.022c0,0 6.106,-12.212 16.791,-12.212c10.685,0 16.791,12.212 16.791,12.212c0,0 -6.106,12.211 -16.791,12.211c-10.685,0 -16.791,-12.211 -16.791,-12.211Z" style="fill:none;stroke:#fff;stroke-width:3.06px;"/>
        <circle cx="24" cy="22.022" r="4.579" style="fill:none;stroke:#fff;stroke-width:3.06px;"/>
        <circle cx="45" cy="5" r="2" style="fill:#f00;stroke:#f00;stroke-width:3px;"></circle>
      </g>
    </g>
</svg:g>