<div *ngIf="showStatusWarnings" class="status" id="status-box">
    <header>
        Status
    </header>
    <div id="status-box-content">
        <ul>
            <li>
                Konfiguration dev1 nicht in Ordnung
            </li>
            <li>
                Konfiguration dev2 nicht in Ordnung
            </li>
            <li>
                Konfiguration dev3 nicht in Ordnung
            </li>
            <li>
                Konfiguration dev4 nicht in Ordnung
            </li>
            <li>
                Konfiguration dev5 nicht in Ordnung
            </li>
        </ul>

    </div>
</div>