<form [formGroup]='changePasswordForm'>
    <p>
        <app-material-password-field 
            [formGroup]="changePasswordForm"
            formControlName="oldPassword"
            ngDefaultControl
            label="Altes Passwort"></app-material-password-field>
    </p>
    <p>
        <app-material-password-field 
            [formGroup]="changePasswordForm"
            formControlName="newPassword"
            ngDefaultControl
            label="Neues Passwort"></app-material-password-field>
    </p>
    <p>
        <app-material-password-field 
            [formGroup]="changePasswordForm"    
            formControlName="confirmPassword"
            ngDefaultControl
            label="Neues Passwort wiederholen"></app-material-password-field>
    </p>

        <!--
    <p>
        <mat-form-field>
            <mat-label for="oldPassword">Altes Passwort </mat-label>
            <input matInput 
                [type]="hidePassword ? 'password' : 'text'" 
                formControlName="oldPassword" 
                required />
            <button mat-icon-button 
                matSuffix 
                class="mat-icon-button mat-button-base" 
                (click)="hidePassword = !hidePassword"
                attr.aria-label="Hide password" 
                [attr.aria-pressed]="hidePassword">
                <mat-icon>
                    {{ hidePassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </button>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label for="newPassword">Neues Passwort</mat-label>
            <input matInput 
                [type]="hidePassword ? 'password' : 'text'" 
                formControlName="newPassword" 
                required />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label for="confirmPassword">Neues Passwort wiederholen</mat-label>
            <input matInput 
                [type]="hidePassword ? 'password' : 'text'" 
                formControlName="confirmPassword" 
                required />
        </mat-form-field>
    </p>
    -->
    
    <button type="button" 
        mat-raised-button 
        color="primary"
        (click)="changePasswordWithFormData()"
        [disabled]="!changePasswordForm.valid">Passwort ändern</button>

    <button type="button" 
        mat-raised-button 
        (click)="cancel()" 
        class="cancel">Abbrechen</button>
</form>