<form [formGroup]='changePasswordForm'>
    <div>
        <div>
            <mat-form-field>
                <mat-label for="oldPassword">Altes Passwort </mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlField="oldPassword" #input1 ngModle
                    required />
                <button mat-icon-button matSuffix class="mat-icon-button mat-button-base" (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label for="newPassword">Neus Passwort</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlField="newPassword" #input2 ngModle
                    required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label for="confirmPassword">Passwortbestätigung</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlField="confirmPassword" #input3 ngModle
                    required />
            </mat-form-field>
        </div>
    </div>
    <button type="button" mat-raised-button color="primary"
        (click)="changePassword(input1.value,input2.value,input3.value)"
        [disabled]="!(input1.value && input2.value && input3.value)">Bestätigen</button>

    <button type="button" mat-raised-button (click)="cancel()" class="cancle">Abbrechen</button>