<div *ngIf="showGraphChart" class="graphsContainer">
    <div class="chartConfiguration">
        <div class="controls">
            <app-drag-and-drop [fileUploadText]="fileUploadText"
                matTooltip="Daten für das aktuell ausgewählte Chart und die Gruppe aktualisieren"
                (fileEmitter)="onFileAdded($event)" matTooltipPosition="right" [containerHeight]="2"
                [showUploadAreaFile]="showUploadAreaFile">
            </app-drag-and-drop>
            <a (click)="openDeleteDialog()">
                <mat-icon [ngStyle]="{'color':'white'}" matTooltip="Chart löschen" matTooltipPosition="right">delete
                </mat-icon>
            </a>
        </div>
        <div class="updateTime">
            Daten zuletzt aktualisiert: {{updateTime}}
        </div>
    </div>
    <div id="Graph" #Graph></div>
</div>
