<div *ngIf="showGraphChart" class="graphsContainer">
    <div class="chartConfiguration">
        <div class="controls">
            <input #dataSourceInput hidden="true" type="file" onclick="this.value=null"
                (change)="dataSourceInputChange($event)" accept=".xlsx,.xls,.csv" />
            <button mat-flat-button color="primary" (click)="dataSourceInput.click()"
                matTooltip="Daten für das aktuell ausgewählte Chart und die Gruppe aktualisieren">
                Daten aktualisieren
            </button>
            <a (click)="openDeleteDialog()">
                <mat-icon [ngStyle]="{'color':'white'}" matTooltip="Chart löschen">delete</mat-icon>
            </a>
        </div>
        <div class="updateTime">
            Daten zuletzt aktualisiert: {{updateTime}}
        </div>
    </div>
    <div id="Graph" #Graph></div>
</div>
