<div  [hidden]="!showStatistic">
    <div id="chartContainer">
    <div class="chartSideNav">
        <div *ngFor="let chart of charts">
            <button mat-button (click)="showChartView($event, chart)">{{chart}}</button>
        </div>
        <div>
            <button mat-button (click)="createChartView()">Neuen Chart anlegen</button>
        </div>
    </div>
    <div class="chartContent">
        <!-- Browse Files, -->
        <app-graphs [chartName]="chartName" [showGraphChart]="showGraphChart"></app-graphs>
        <app-create-chart [showCreateChartContainer]="showCreateChartContainer"></app-create-chart>
    </div>
</div>
</div>
