.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: #2e4ff0;
}

.sidenav a {
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  color: white;
}

.mat-toolbar * {
  color: darkslategrey;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav .mat-drawer-inner-container {
  background-color: #2e4ff0;
}
