.menu {
  width: 100%;
  height: auto;
  stroke-linecap: round;
  stroke-linejoin: round;
  max-width: 792px;
  max-height: 100%;
  z-index: 10;
}

@media screen and (min-width: 512px) {
  .menu {
    max-width: 65vw;
    max-height: 65vh;
  }
}

.main-menu {
  cursor: pointer;
}

.main-menu circle {
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.main-menu circle:hover {
  opacity: 1;
}

.main-menu .is-active>circle {
  opacity: 1;
}

.settingsIconSvg {
  filter: invert(1);
}

.settingsIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}
