<div class="container">
  <svg class="menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 792 792">
    <defs>
      <path class="path-1"
        d="M45 67.9c0 2.3 1.9 4.1 4.2 4.1a4.1 4.1 0 1 0 0-8.3 4.1 4.1 0 0 0-4.1 4.2zm6 0c0 1-.8 1.7-1.8 1.7s-1.8-.7-1.8-1.7.8-1.8 1.8-1.8 1.8.7 1.8 1.8z" />
    </defs>
    <g class="All-on" fill="none" fill-rule="evenodd" transform="translate(-571 -143)">
      <g class="menu" transform="translate(571 143)">
        <g class="outside-layer">
          <circle class="outer-cirlce-background" cx="396" cy="396" r="396" fill="#000" fill-opacity=".4" />
          <g o-north-menu (notifyEventOpen)="onNotifyEventOpen($event)" [isOpen]="northOpen"
            [activeItems]="activeItems"></g>
          <g o-east-menu (notifyEventOpen)="onNotifyEventOpen($event)" [isOpen]="eastOpen" [activeItems]="activeItems">
          </g>
          <g o-south-menu (notifyEventOpen)="onNotifyEventOpen($event)" [isOpen]="southOpen"
            [activeItems]="activeItems"></g>
          <g o-west-menu (notifyEventOpen)="onNotifyEventOpen($event)" [isOpen]="westOpen" [activeItems]="activeItems">
          </g>
        </g> <!-- ./outside layer -->
        <g class="middle-layer" transform="translate(132 132)">
          <circle class="middle-circle-backgroud" cx="264" cy="264" r="264" fill="#000" fill-opacity=".4" />
          <g class="button-group">
            <g (click)="openNorthMenu()" m-north-menu></g>
            <g (click)="openEastMenu()" m-east-menu></g>
            <g (click)="openSouthMenu()" m-south-menu></g>
            <g (click)="openWestMenu()" m-west-menu></g>
          </g>
        </g>
        <g class="main-menu" [ngClass]="{'is-active': menuOpen}" (click)="openMainMenu()"
          transform="translate(276 276)">
          <title>Main Menu</title>
          <circle class="inner-circle-background" cx="120" cy="120" r="120" fill="#a00" opacity=".4" />
          <g class="menu-button" fill="#fff" fill-rule="nonzero" transform="translate(84 95)">
            <path class="Shape"
              d="M4.7 29.3a3.7 3.7 0 1 1 0-7.3h63.2a3.7 3.7 0 1 1 0 7.3H4.7zM4.4 8a3.7 3.7 0 0 1 0-7.3h63.2a3.7 3.7 0 0 1 0 7.3H4.4zm0 42a3.7 3.7 0 0 1 0-7.3h63.2a3.7 3.7 0 1 1 0 7.3H4.4z" />
          </g>
        </g>
      </g>
    </g>
  </svg>
  <div class="settingsIcon">
    <img src="/assets/icons/settings.svg" (click)="checkPasswordDialog()" alt="Settings" class="settingsIconSvg" />
  </div>
  <app-viewbox (notifyViewBoxClose)="onNotifyViewBoxClose()" [showView]="showView" [showViewBox]="showViewBox">
  </app-viewbox>
  <app-status-warnings [showStatusWarnings]="showStatusWarnings"></app-status-warnings>
</div>
