div#content {
    position: absolute;
    width: 260px;
    height: 600px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #fff;
    left: 100px;
    top: 100px;
    display: none;
  }
  
  div#content div#content-header {
    top: 0px;
    position: relative;
    height: 40px;
    background-color: #fff;
    color: #000;
  }
  
  .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("/assets/img/585929349-datacenter-wallpaper.jpg");
    background-size: cover;
    background-position: center center;
  }
  
  .menu {
    width: 100%;
    height: auto;
    stroke-linecap: round;
    stroke-linejoin: round;
    max-width: 792px;
    max-height: 100%;
  }
  
  @media screen and (min-width: 512px) {
    .menu {
      max-width: 65vw;
      max-height: 65vh;
    }
  }
  
  .main-menu {
    cursor: pointer;
  }
  
  .main-menu circle {
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms;
  }
  
  .main-menu circle:hover {
    opacity: 1;
  }
  
  .main-menu .is-active > circle {
    opacity: 1;
  }
  
  [class$="-button"] {
    cursor: pointer;
  }
  
  [class$="-button"] > circle {
    opacity: 0;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms;
  }
  
  [class$="-button"]:hover > circle {
    opacity: 0.6;
  }
  
  [class$="-button"] path {
    pointer-events: none;
  }
  