<div class="container">
  <svg class="menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 792 792">
    <defs>
      <path class="path-1" d="M45 67.9c0 2.3 1.9 4.1 4.2 4.1a4.1 4.1 0 1 0 0-8.3 4.1 4.1 0 0 0-4.1 4.2zm6 0c0 1-.8 1.7-1.8 1.7s-1.8-.7-1.8-1.7.8-1.8 1.8-1.8 1.8.7 1.8 1.8z"/>
    </defs>
    <g class="All-on" fill="none" fill-rule="evenodd" transform="translate(-571 -143)">
      <g class="menu" transform="translate(571 143)">
        <g class="outside-layer">
          <circle class="outer-cirlce-background" cx="396" cy="396" r="396" fill="#000" fill-opacity=".4"/>
          
          <g o-north-menu></g>
          <g o-east-menu></g>
          <g o-south-menu></g>
          <g o-west-menu></g>
          
        </g> <!-- ./outside layer -->
        <g class="middle-layer" transform="translate(132 132)">
          <circle class="middle-circle-backgroud" cx="264" cy="264" r="264" fill="#000" fill-opacity=".4"/>
          <g class="button-group">
            <g class="summary-button" (click)="openSouthMenu()" transform="translate(216 408)">
              <title>Gesamtübersicht</title>
              <circle class="Oval-2-Copy-3" cx="48" cy="48" r="48" fill="#F06" opacity=".6"/>
              <g transform="translate(24,24)">
                  <g>
                    <circle cx="23.999" cy="40.77" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                    <circle cx="30.884" cy="40.77" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                    <circle cx="17.116" cy="40.77" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                    <path d="M7.209,22.022c0,0 6.106,-12.212 16.791,-12.212c10.685,0 16.791,12.212 16.791,12.212c0,0 -6.106,12.211 -16.791,12.211c-10.685,0 -16.791,-12.211 -16.791,-12.211Z" style="fill:none;stroke:#fff;stroke-width:3.06px;"/>
                    <circle cx="24" cy="22.022" r="4.579" style="fill:none;stroke:#fff;stroke-width:3.06px;"/>
                  </g>
                </g>
            </g>

            <g class="platforms-button" (click)="openWestMenu()" transform="translate(24 217)">
              <title>Plattformen</title>
              <circle class="Oval-2-Copy" cx="48" cy="48" r="48" fill="#F06" opacity=".6"/>								
              <!-- User Icon -->
              <g transform="translate(24,24)">
                <g>
                  <circle cx="23.999" cy="41.122" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                  <circle cx="30.884" cy="41.122" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                  <circle cx="17.116" cy="41.122" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                </g>
                <g>
                  <path d="M37.31,35.841l0,-3.327c0,-3.651 -3.004,-6.655 -6.655,-6.655l-13.31,0c-3.651,0 -6.655,3.004 -6.655,6.655l0,3.327" style="fill:none;stroke:#fff;stroke-width:3.33px;"/>
                  <circle cx="24" cy="12.55" r="6.655" style="fill:none;stroke:#fff;stroke-width:3.33px;"/>
                </g>
              </g>
              <!-- / User Icon -->
            </g>

            <g class="environments-button" (click)="openNorthMenu()" transform="translate(216 24)">
              <title>Umgebungen</title>
              <circle class="Oval-2-Copy-2" cx="48" cy="48" r="48" fill="#F06" opacity=".6"/>							
              <!-- Umgebungen Icon -->
              <g transform="translate(24,24)">
                <g>
                  <rect x="9.99" y="6.342" width="10.897" height="10.897" style="fill:none;stroke:#fff;stroke-width:3.12px;"/>
                  <rect x="27.113" y="6.342" width="10.897" height="10.897" style="fill:none;stroke:#fff;stroke-width:3.12px;"/>
                  <rect x="27.113" y="23.463" width="10.897" height="10.897" style="fill:none;stroke:#fff;stroke-width:3.12px;"/>
                  <rect x="9.99" y="23.463" width="10.897" height="10.897" style="fill:none;stroke:#fff;stroke-width:3.12px;"/>
                </g>
                <g>
                    <circle cx="23.999" cy="40.674" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                    <circle cx="30.884" cy="40.674" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                    <circle cx="17.116" cy="40.674" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                </g>
              </g>
              <!-- / Umgebungen Icon -->						
            </g>
            <g class="alerts-button" (click)="openEastMenu()" transform="translate(408 217)">
              <title>Test</title>
              <circle class="Oval-2" cx="48" cy="48" r="48" fill="#F06" opacity=".6"/>
              <!-- Alerts Icon -->
              <g transform="translate(24 24)">
                <g>
                  <circle cx="23.999" cy="41.597" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                  <circle cx="30.884" cy="41.597" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                  <circle cx="17.116" cy="41.597" r="0.984" style="fill:#fff;stroke:#fff;stroke-width:1.97px;"/>
                </g>
                <g>
                  <path d="M32.35,13.977c0,-4.694 -3.769,-8.558 -8.35,-8.558c-4.581,0 -8.35,3.864 -8.35,8.558c0,9.985 -4.175,12.838 -4.175,12.838l25.05,0c0,0 -4.175,-2.853 -4.175,-12.838" style="fill:none;stroke:#fff;stroke-width:2.82px;"/>
                  <path d="M26.408,32.52c-0.498,0.879 -1.417,1.422 -2.408,1.422c-0.991,0 -1.91,-0.543 -2.408,-1.422" style="fill:none;stroke:#fff;stroke-width:2.82px;"/>
                </g>
              </g>
              <!-- / Alerts Icon -->
            </g>
          </g>
        </g>
        <g class="main-menu" [ngClass]="{'is-active': menuOpen}" (click)="openMainMenu()" transform="translate(276 276)">
          <title>Main Menu</title>
          <circle class="inner-circle-background" cx="120" cy="120" r="120" fill="#a00" opacity=".4"/>
          <g class="menu-button" fill="#fff" fill-rule="nonzero" transform="translate(84 95)">
            <path class="Shape" d="M4.7 29.3a3.7 3.7 0 1 1 0-7.3h63.2a3.7 3.7 0 1 1 0 7.3H4.7zM4.4 8a3.7 3.7 0 0 1 0-7.3h63.2a3.7 3.7 0 0 1 0 7.3H4.4zm0 42a3.7 3.7 0 0 1 0-7.3h63.2a3.7 3.7 0 1 1 0 7.3H4.4z"/>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>