<mat-form-field [formGroup]="formGroup" appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <input matInput 
        ngDefaultControl 
        [type]="hidePassword ? 'password' : 'text'" 
        [formControlName]="formControlName" 
        required />
    <button mat-icon-button 
        matSuffix 
        class="mat-icon-button mat-button-base" 
        (click)="hidePassword = !hidePassword"
        attr.aria-label="Hide password" 
        [attr.aria-pressed]="hidePassword">
        <mat-icon>
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
    </button>
</mat-form-field>
