<svg:g class="north-menu" *ngIf="isOpen" transform="translate(229 18)">
  <g class="test-button" transform="translate(119)">
    <title>Test</title>
    <circle class="Oval-2-Copy-4" cx="48" cy="48" r="48" fill="#00F7FF" opacity=".6"/>
    <!-- Test Text -->
    <text x="48" y="48" alignment-baseline="middle" style="font-family:'OpenSans-Semibold', 'Open Sans', sans-serif;font-weight:600;font-size:20px;fill:#fff;" text-anchor="middle">TEST</text>
    <!-- / Test Text -->
  </g>
  <g class="production-button" transform="translate(0 23)">
    <title>Produktion</title>
    <circle class="Oval-2-Copy-6" cx="48" cy="48" r="48" fill="#00F7FF" opacity=".6"/>
    <!-- Produktion Text -->
    <text x="48" y="48" alignment-baseline="middle" style="font-family:'OpenSans-Semibold', 'Open Sans', sans-serif;font-weight:600;font-size:20px;fill:#fff;" text-anchor="middle">PROD</text>
    <!-- / Produktion Text -->
  </g>
  <g class="dev-button" transform="translate(239 23)">
    <title>Entwicklung</title>
    <circle class="Oval-2-Copy-5" cx="48" cy="48" r="48" fill="#00F7FF" opacity=".6"/>
    <!-- Entwicklung Text -->
    <text x="48" y="48" alignment-baseline="middle" style="font-family:'OpenSans-Semibold', 'Open Sans', sans-serif;font-weight:600;font-size:20px;fill:#fff;" text-anchor="middle">DEV</text>		
    <!-- / Entwicklung Text -->
  </g>
</svg:g>