<svg:g class="south-menu" *ngIf="isOpen" transform="translate(228 654)">
  <!-- Konfiguration-->
  <g menu-icon [iconMainPositionX]="120" [iconMainPositionY]="24" [title]="'Konfiguration'" [icon]="'icon-configuration-new'"
    [iconText]="'icon-configuration-text'" [iconTextPositionX]="-51" [iconTextPositionY]="20" [iconPositionX]="39"
    [iconPositionY]="28" (click)="openConfig()" [buttonActive]="compareActive">
  </g>

  <!-- Server -->
  <g menu-icon [iconMainPositionX]="-20" [iconMainPositionY]="-15" [title]="'Konfigurationsübersicht'"
    [icon]="'icon-config-overview-new'" [iconText]="'icon-config-overview-text'" [iconTextPositionX]="-51" [iconTextPositionY]="15"
    [iconPositionX]="35" [iconPositionY]="22" (click)="openServer()" [buttonActive]="serverconfigActive">
  </g>

  <!-- Batches -->
  <g menu-icon [iconMainPositionX]="260" [iconMainPositionY]="-15" [title]="'Batches'" [icon]="'icon-batches'"
    [iconText]="'icon-batches-text'" [iconTextPositionX]="-51" [iconTextPositionY]="20" [iconPositionX]="24"
    [iconPositionY]="15" (click)="openBatches()" [buttonActive]="batchesActive">
  </g>

</svg:g>
