<svg:g class="south-menu" *ngIf="isOpen" transform="translate(228 654)">
  <g class="conf-button" transform="translate(120 24)" (click)="openConfig()" [ngClass]="{'disabled': !compareActive }">
    <title>Konfiguration</title>
    <circle class="Oval-2-Copy-8" cx="48" cy="48" r="48" fill="#00F7FF" opacity=".6"
      [ngClass]="{'disabledCircle': !compareActive }" />
    <!-- Konfiguration Icon -->
    <g transform="translate(24 24)">
      <use xlink:href="assets/symbol-defs.svg#icon-config"></use>
    </g>
    <!-- / Konfiguration Icon -->
  </g>
  <g class="server-button" (click)="openServer()" [ngClass]="{'disabled': !serverconfigActive }">
    <title>Konfigurationsübersicht</title>
    <circle class="Oval-2-Copy-9" cx="48" cy="48" r="48" fill="#00F7FF" opacity=".6"
      [ngClass]="{'disabledCircle': !serverconfigActive }" />
    <!-- Server Icon -->
    <g transform="translate(24 24)">
      <use xlink:href="assets/symbol-defs.svg#icon-server"></use>
    </g>
    <!-- / Server Icon -->
  </g>
  <g class="batches-button" transform="translate(240)" (click)="openBatches()"
    [ngClass]="{'disabled': !batchesActive }">
    <title>Batches</title>
    <circle class="Oval-2-Copy-10" cx="48" cy="48" r="48" fill="#00F7FF" opacity=".6"
      [ngClass]="{'disabledCircle': !batchesActive }" />
    <!-- Batches Icon -->
    <g transform="translate(24 24)">
      <use xlink:href="assets/symbol-defs.svg#icon-batches"></use>
    </g>
    <!-- / Batches Icon -->
  </g>
</svg:g>
