* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		 url('../fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/open-sans-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
	font-family: 'Open Sans', sans-serif;
}

div#content {
	position: absolute;
	width: 260px;
	height: 600px;
	color: #fff;
	background: rgba(0,0,0,0.7);
	border: 2px solid #fff;
	left: 100px;
	top: 100px;
	display: none;
  }
  
div#content div#content-header {
	top: 0px;
	position: relative;
	height: 40px;
	background-color: #fff;
	color: #000;
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	min-height: 100vh;
	background-image: url('../img/585929349-datacenter-wallpaper.jpg');
	background-size: cover;
	background-position: center center;
}

.menu {
	width: 100%;
	height: auto;
	stroke-linecap: round;
	stroke-linejoin: round;
	max-width: 792px;
	max-height: 100%;

	@media screen and (min-width: 512px) {
		max-width: 65vw;
		max-height: 65vh;
	}

}
	 
.main-menu {
	cursor: pointer;

	circle {
		transition: opacity 250ms;
		&:hover{
			opacity: 1;
		}
	}

	.is-active > circle {
		opacity: 1; 
	}
}

[class$="-button"] {
	cursor: pointer;

	> circle {
		opacity: 0;
		transition: opacity 250ms;
	}

	&:hover{
		> circle {opacity: 0.6;}
	}

	path {
		pointer-events: none;
	}
}
