<div *ngIf="showGraphChart" class="graphsContainer">
    <div class="chartConfiguration">
        <div class="controls">
            <app-drag-and-drop [fileUploadText]="fileUploadText"
                matTooltip="Daten für das aktuell ausgewählte Chart und die Gruppe aktualisieren"
                (fileEmitter)="onFileAdded($event)" matTooltipPosition="right" [containerHeight]="2"
                [showUploadAreaFile]="showUploadAreaFile">
            </app-drag-and-drop>
            <a (click)="openDeleteDialog()">
                <mat-icon class="iconNav" matTooltip="Chart löschen" matTooltipPosition="right">delete
                </mat-icon>
            </a>
        </div>
        <div class="updateTime">
            Daten zuletzt aktualisiert: {{updateTime}}
        </div>
        <div class="description">

        </div>
        <div class="Datefield" *ngIf="isTimeseries() && actualStatisticData !== null">
            <a (click)="prevTimeseriesChart()" [ngClass]="{'btnDisabled': !actualStatisticData.prevDate }">
                <mat-icon class="iconNav" matTooltip="{{ prevChartsTooltip }}">
                    keyboard_arrow_left
                </mat-icon>
            </a>
            <app-date-picker [title]="datePickerTitle" [accuracy]="getAccuracyForString(chart.accuracy)"
                [availableDates]="timeSeriesDates" [startDate]="actualStatisticData.startDate"
                [endDate]="actualStatisticData.endDate" [isMultiple]="chart.multiple"
                (datepickerChangeEvent)="datepickerChangeEvent($event)"></app-date-picker>
            <a (click)="nextTimeseriesChart()" [ngClass]="{'btnDisabled': !actualStatisticData.nextDate }">
                <mat-icon class="iconNav" matTooltip="{{ nextChartsTooltip }}">
                    keyboard_arrow_right
                </mat-icon>
            </a>
        </div>
    </div>
    <div id="Graph" #Graph></div>
</div>
